/*/Debug/
/*/Release/
/*/*/Debug/
/*/*/Release/
/*/~*
*.ipch
*.tlog
*.pdb
*.bin
*.enc
*.idb
*.suo
*.db
*.opendb
*.err
*.csv
*.txt
*.obj
*.log
*.sarif
/OrbitCalcs/ConsoleApplication1/x64/Debug
/OrbitCalcs/orbitcalcs/x64/Debug
/orbitcalcs/cometpreprocessor/cometpreprocessor.vcxproj
*.filters
*.user
/orbitcalcs/linux/MPCORB.DAT
/OrbitCalcs/tmp
*.o
MPCORB*
CometEls.txt
